<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<header class="header">
			<div class="text-center">
				<h1>Welcome to MedTracker 2.0</h1>
				<h3>Medicate Responsibly</h3>
			</div>
		</header>
<%= render 'form' %>
	</div>
</div>

<br />
<br />

