<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="text-center">
			<h1>Welcome to MedTracker 2.0</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="text-center">
			<h3 class="animated fadeInLeftBig" style="display:inline">Medicate Responsibly</h3>
			<h3 class="animated fadeInRightBig" style="display:inline">.</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<%= render 'form' %>
	</div>
</div>

<br />
<br />

