<div id="passModal" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="passModal">Change Your Password</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= bootstrap_form_for @user, :action => "update", :method => "put" do |f| %>

        			<%= f.password_field :password %>
        			<%= f.password_field :password_confirmation %>


            <div class="btn-toolbar">
                <%= f.submit "Update Password", class: 'btn btn-primary btn-large' %>
            </div>

            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $('#passModal').modal('show');
</script>