<h1> Listing Medications </h1>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @medications.sort { |a,b| a.name <=> b.name }.collect {|med| [med.name.capitalize, med.id]}.uniq.each do |x, y| %>
      <tr>
        <td><%= x %></td>
        <td><%= link_to 'View Medication', medication_path(y), :class => "btn btn-mine pull-right" %></td>
    <% end %>
  </tbody>
</table>
</div>

<br>
